# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# Flask instance folder
instance/

# Environment variables
.env

# Byte-compiled / optimized / DLL files
*.pyc

# macOS metadata
.DS_Store

